# General packages
numpy
pandas

# Machine learning packages
scikit-learn
transformers
tensorflow
torch

# Data visualization
matplotlib
seaborn

# Text processing
gensim
spacy
wordcloud
nltk

# Oversampling
imblearn

# BERT model specific (used in 31b_predictive_model_finbert.ipynb)
datasets
accelerate -U
transformers[torch]

# Feature importance analysis
shap